@(message: String, form: Form[(String, String)])

@main(message) {

         @helper.form(action = routes.Application.saveCompany){

             <fieldset>
             @helper.inputText(
                 form("name"),
                 '_label -> "Name",
                 '_help -> "")
             </fieldset>

             <fieldset>
             @helper.inputText(
                 form("address"),
                 '_label -> "Address",
                 '_help -> "")

             </fieldset>

             <button>Submit</button>
         }

}