@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    @play.api.Play.maybeApplication.filterNot(_.mode != play.api.Mode.Dev).map { _ =>

    <link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

    <section id="top">
        <div class="wrapper">
            <h1><a href="/@@documentation">@title</a></h1>
            <nav>
                <span class="versions">
                    <span>Browse APIs</span>
                    <select onchange="document.location=this.value">
                        <option selected disabled>Select language</option>
                        <option value="/@@documentation/api/scala/index.html">Scala</option>
                        <option value="/@@documentation/api/java/index.html">Java</option>
                    </select>
                </span>
            </nav>
        </div>
    </section>

    <div id="news">
    </div>


    <div id="content" class="wrapper doc">
    @content



    </div>

    }.getOrElse {

        <h1>@title</h1>

    }
    </body>
</html>
